{{ define "main" }}

<!-- begin hero -->
<section class="hero hero--left">
  <div class="container">
    {{ if .Title }}
    <h1 class="hero__title">{{ .Title }}</h1>
    {{ end }}
  </div>
</section>
<!-- end hero -->

<div class="section google-page animate">
    <div class="container">

        <div clss="row">
            <div class="col col-12 col-d-12 col-t-12">
                <input id="fileInput" style="display: none;" type="file" title="File">
                <button type="button" id="fileButton" title="Choisir le fichier CSV"><i class="ion ion-ios-paper"></i></button>
                <button type="button" id="fillTableButton" title="Remplir le tableau"><i class="ion ion-ios-list"></i></button>
                <button type="button" id="processAllButton" title="Démarrer le traitement"><i class="ion ion-ios-play"></i></button>
                <button type="button" id="downloadFileButton" title="Télécharger le ZIP"><i class="ion ion-ios-download"></i></button>
                <button type="button" id="resetButton" title="Réinitialisation"><i class="ion ion-ios-undo"></i></button>
                <button type="button" id="optimiseButton" title="Optimisation des images"><i class="ion ion-ios-radio-button-on"></i></button>
                <br />
                <progress id="progressBar" max="100" value="0"></progress>
                <br />
                <br/>
            </div>
        </div>

        <div clss="row">
            <div class="col col-12 col-d-12 col-t-12">
                <table id="tableData" style="display: none;">
                    <thead>
                        <tr>
                            <td></td>
                            <td><strong>Nom</strong></td>
                            <td><strong>Adresse</strong></td>
                            <td><strong>Catégorie</strong></td>
                            <td><strong>Téléphone</strong></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table body will be populated dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ end }}