{{ define "main" }}

<!-- begin hero -->
<section class="hero hero--left">
  <div class="container">
    {{ if .Title }}
    <h1 class="hero__title">{{ .Title }}</h1>
    {{ end }}
  </div>
</section>
<!-- end hero -->

<!-- begin tags -->
<section class="section tags animate">
  <div class="container">
    <div class="row">
      {{ range .Pages }}
      <div class="col col-2 col-w-3 col-d-6 col-m-12">
        <a href="{{ .RelPermalink }}" class="tag-image" title="{{ .Title }}">
            {{ range .Data.Pages }}
            <img class="lazy" data-src="{{ partial "image-url" . | absURL }}" alt="{{ .Title }}">
            {{ end }}
          <span class="tag-name">{{ .Title }}</span>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- end tags -->

{{ end }}